@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.Weapon
@* @using System *@
<h1>Add Property</h1>

<h3>Add a Property to this Weapon: @Html.DisplayFor(model => model.WeaponName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.WeaponId)
  @Html.HiddenFor(model => model.ItemProperties)
  @Html.Label("Select Property")
  @Html.DropDownList("ItemPropertyId")
  
  <input type="submit" value="Add" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Weapon List", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>