@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.MainType

<h3>Add a new Main Type</h3>
<hr />
@using (Html.BeginForm())
{

  @Html.Label("Main Type Name")
  @Html.TextBoxFor(model => model.MainTypeName,
new {@required="required"})
  @Html.Label("Main Type Description")
  @Html.TextBoxFor(model => model.MainTypeDescription,
new {@required="required"})

  <input type="submit" value="Add Main Type" />
}

<p>@Html.ActionLink("Show all Main Types", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>