@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dungeon Darkly Compendium!</h1>
    <p>@Html.ActionLink("See all Monsters", "Index", "Monsters")</p>
    <p>@Html.ActionLink("See all Main Types", "Index", "MainTypes")</p>
    <p>@Html.ActionLink("See all Behaviors", "Index", "Behaviors")</p>
    <p>@Html.ActionLink("See all Armor", "Index", "Armors")</p>
    <p>@Html.ActionLink("See all Weapons", "Index", "Weapons")</p>
    <p>@Html.ActionLink("See all Item Properties", "Index", "ItemProperties")</p>
    <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
</div>
