@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.Monster

<h1>Add a Behavior</h1>

<h3>Add a behavior to this monster: @Html.DisplayFor(model => model.MonsterName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MonsterId)

  @Html.Label("Select Behavior")
  @Html.DropDownList("BehaviorId")

  <input type="submit" value="Add" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Monster List", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>