@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.Monster

<h3>Add a new Monster</h3>
<hr />
@using (Html.BeginForm())
{
  @Html.Label("Monster Name")
  @Html.TextBoxFor(model => model.MonsterName,
new {@required="required"})

  @Html.Label("Select Main-Type")
  @Html.DropDownList("MainTypeId")

  <input type="submit" value="Add new Monster" />
}

<p>@Html.ActionLink("Show all Monsters", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>