@{
  Layout = "_Layout";
}
@model RpgCompendium.Models.Behavior

<h3>Add a new Behavior</h3>
<hr />
@using (Html.BeginForm())
{
  @Html.Label("Behavior Name")
  @Html.TextBoxFor(model => model.BehaviorName,
new {@required="required"})
  @Html.Label("Behavior Description")
  @Html.EditorFor(model => model.BehaviorDescription,
new {@required="required"})

  <input type="submit" value="Add new Behavior" />
}

<button>@Html.ActionLink("Show all Behaviors", "Index")</button>o